In [115]:
import numpy as np
import pandas as pd

In [116]:
df=pd.read_csv("weather_2012.csv")

2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [117]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [118]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [119]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
2515,2012-04-14 19:00:00,11.9,-0.6,42,7,48.3,100.91,Mostly Cloudy
6081,2012-09-10 09:00:00,13.3,7.3,67,15,24.1,101.33,Mainly Clear
3442,2012-05-23 10:00:00,17.1,11.8,71,11,24.1,101.21,Mostly Cloudy
1455,2012-03-01 15:00:00,-3.3,-6.2,80,24,1.6,100.71,Snow
2955,2012-05-03 03:00:00,11.2,8.5,83,15,25.0,101.21,Cloudy

3.	Write the code to display a list of all of the columns in the dataset.

In [120]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

4.	The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back  if needed at the end of our analysis.

In [121]:
df1=df

In [122]:
df=df.rename(columns={'Date/Time':'date_time','Temp (C)':'temp_c','Dew Point Temp (C)':'dew_point'})
df=df.rename(columns={'Rel Hum (%)':'relative_humidity','Wind Spd (km/h)':'wind_speed',
             'Visibility (km)':'visibilty','Stn Press (kPa)':'pressure','Weather':'weather'})

5.	Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [123]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibilty,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

6.	Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [124]:
df = df.astype({"temp_c": int})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   int32
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibilty          8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(3), int32(1), int64(2), object(2)
memory usage: 514.8+ KB

In [125]:
temp_f=[(x*9/5)+32 for x in df['temp_c']]

In [126]:
df['temp_f'] = temp_f

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   int32
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibilty          8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
 8   temp_f             8784 non-null   float64
dtypes: float64(4), int32(1), int64(2), object(2)
memory usage: 583.4+ KB

7.	Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [128]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibilty', 'pressure', 'weather', 'temp_f'],
      dtype='object')

In [129]:
df=df[['date_time','temp_f','temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibilty', 'pressure', 'weather']]

In [130]:
df.columns

Index(['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibilty', 'pressure', 'weather'],
      dtype='object')

8.	Write the code to display the data types of all the columns in the dataset.

In [131]:
df.dtypes

date_time             object
temp_f               float64
temp_c                 int32
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibilty            float64
pressure             float64
weather               object
dtype: object

9.	You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [132]:
df['date_time']=pd.to_datetime(df['date_time'])

In [133]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                        int32
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibilty                   float64
pressure                    float64
weather                      object
dtype: object

10.	Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [134]:
df[['weather']].nunique()

weather    50
dtype: int64

In [135]:
df[['weather']].value_counts()

weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Freezing Drizzle,Haze                         3
Moderate Snow,Blowing Snow                    2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Rain,Snow Grains                              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Snow Pellets                                  1
Rain,Ice Pellets                              1
Thunderstorms,Rain,Fog                        1
dtype: int64

In [136]:
df[['weather']].head(10)

                weather
0                   Fog
1                   Fog
2  Freezing Drizzle,Fog
3  Freezing Drizzle,Fog
4                   Fog
5                   Fog
6                   Fog
7                   Fog
8                   Fog
9                   Fog

11.	Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [137]:
df2=df.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

12.	Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

In [138]:
df[['date_time']]

               date_time
0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
...                  ...
8779 2012-12-31 19:00:00
8780 2012-12-31 20:00:00
8781 2012-12-31 21:00:00
8782 2012-12-31 22:00:00
8783 2012-12-31 23:00:00

[8784 rows x 1 columns]

In [139]:
df3=df
date1 = pd.Series(pd.date_range('2012-01-01 00:00:00', periods = 8784))
df3 = pd.DataFrame(dict(date_time = date1))
  
month_of_date = df3['date_time'].dt.month
month_of_date

0       1
1       1
2       1
3       1
4       1
       ..
8779    1
8780    1
8781    1
8782    1
8783    1
Name: date_time, Length: 8784, dtype: int64

In [142]:

df[['month']]=month_of_date
df.columns

Index(['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibilty', 'pressure', 'weather', 'month'],
      dtype='object')

13.	Save your original dataframe to ‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [143]:
df1.to_csv('weather_2012_new.csv', index=False)